doctype html
html(lang="en")
  head
    title Home
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css", rel='stylesheet')
    link(href="bower_components/font-awesome/css/font-awesome.min.css", rel='stylesheet')
    link(href="bower_components/bootswatch/cosmo/bootstrap.min.css", rel='stylesheet')
    link(href="style.css", rel='stylesheet')
  
  body
    h1 hi!


    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='main.js')
